/* Home.module.css */
.container {
    padding: 20px;
    margin-left: 220px; /* Adjusted for the wider sidebar */
  }
  
  .serviceItem {
    display: flex;
    justify-content: space-between;
  }
  
  .h1 {
    font-size: 3rem;
    color: #E1E1E6;
    text-align: center;
  }