/* layout.module.css */
.body {
  display: flex;
  flex-direction: row;
  min-height: 110vh;
}

.main {
  flex: 1;
  padding: 20px;
  margin-left: 120px; /* Adjusted for the left ad */
  margin-right: 120px; /* Adjusted for the right ad */
  background-color: #1E1E2F;
}

.adContainer {
  position: fixed;
  top: 200px;
  left: 0;
}

.rightAdContainer {
  position: fixed;
  top: 200px;
  right: 0;
}

.h1 {
  font-size: 3rem;
  color: #E1E1E6;
  text-align: center;
}
