/* layout.module.css */
.body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 20px;
  margin-left: 220px; /* Adjusted for the wider sidebar */
  background-color: #1E1E2F;
}
